/* width */
::-webkit-scrollbar {
    width: 5px;
    background: #E9E9E9;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #191919;
}




/***********************************************/
/***********************************************/
/* TEXT-COLOR*/
/***********************************************/
/***********************************************/

.text-dark {
    color: #191919;
}

.text-twitter {
    color: #00acee;
}

.text-instagram {
    color: #D6249F;
}
.text-discord {
    color: 	#7289da;
}

.text-green {
    color: #20d489;
}

/***********************************************/
/* DIFFERENT */
/***********************************************/
/***********************************************/

.text-spacing5 {
    letter-spacing: 5px;
}

.border-radius20 {
    border-radius: 20px;
}

.disabled {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}


/***********************************************/
/***********************************************/
/* VUEJS TRANSITIONS*/
/***********************************************/
/***********************************************/

/*  name="component-fade" */
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
