/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background: #E9E9E9;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #191919;
}

/***********************************************/
/* TEXT-FONT
/***********************************************/

@font-face {
    font-family: digital;
    src: url(./fonts/digital-font.ttf);
}

.text-digital {
    font-family: digital, sans-serif;
}


/***********************************************/
/* TEXT-SHADOW
/***********************************************/

.text-shadow-black-title {
    color: #121212;

    text-shadow: 0 2px 1px #747474,
    -1px 3px 1px #767676,
    -2px 5px 1px #787878,
    -3px 7px 1px #7a7a7a,
    -4px 9px 1px #7f7f7f,
    -5px 11px 1px #838383,
    -6px 13px 1px #878787,
    -7px 15px 1px #8a8a8a,
    -8px 17px 1px #8e8e8e,
    -9px 19px 1px #949494,
    -10px 21px 1px #989898,
    -11px 23px 1px #9f9f9f,
    -12px 25px 1px #a2a2a2,
    -13px 27px 1px #a7a7a7,
    -14px 29px 1px #adadad,
    -15px 31px 1px #b3b3b3,
    -16px 33px 1px #b6b6b6,
    -17px 35px 1px #bcbcbc,
    -18px 37px 1px #c2c2c2,
    -19px 39px 1px #c8c8c8,
    -20px 41px 1px #cbcbcb,
    -21px 43px 1px #d2d2d2,
    -22px 45px 1px #d5d5d5,
    -23px 47px 1px #e2e2e2,
    -24px 49px 1px #e6e6e6,
    -25px 51px 1px #eaeaea,
    -26px 53px 1px #efefef;
}


/***********************************************/
/* TEXT-COLOR
/***********************************************/

.text-dark {
    color: #191919;
}

.text-twitter {
    color: #00acee;
}

.text-instagram {
    color: #D6249F;
}
.text-discord {
    color: 	#7289da;
}

.text-green {
    color: #20d489;
}

.text-red {
    color: red;
}

.text-gold {
    color: gold;
}

.text-fish {
    color: #5bc1ca;
}

.text-dragon {
    color: #914145;
}

.text-cat {
    color: #d7ac65;
}

.text-spider {
    color: crimson;
}
/***********************************************/
/* DIFFERENT
/***********************************************/

.text-spacing5 {
    letter-spacing: 5px;
}

.border-radius20 {
    border-radius: 20px;
}

.disabled {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}


/***********************************************/
/* VUEJS TRANSITIONS
/***********************************************/

/*  name="component-fade" */
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/*  name="fade" */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/*************************************************************/
/* VOLUME BAR
/*************************************************************/

.volumeControl {
    height: 60px;
}

.volumeSlider {
    -webkit-appearance: none;
    width: 75px;
    height: 5px;
    border-radius: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volumeSlider:hover {
    opacity: 1;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

